.nav-container{
    width: 100%;
    height: 110px;
    background: linear-gradient(35deg, rgba(0, 0, 0, 0.1), rgba(0,0,0,.1));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 1;
    position: absolute;
    
}

.category .category-box .box{
    margin: 80px 70px ;

}
.category .category-box .box img{
    width: 450px;
    border-radius: 5px;
    height: 450px;
}
.category .category-box .box-content{
    position: absolute;
    z-index: 1;
    margin-left: 30px;
    margin-top: 100px;
}
.category .category-box .box-content h3{
    color: rgb(255, 103,103);
}
.category .category-box .box-content label{
    display: block;
    font-size: 30px;
    color: rgb(255, 103,103);

}


.most-rated-items .most-rated-item{
    padding: 5px;
    margin: 20px 30px;
    height: 300px;
}

.popular-products-items .popular-products-item{
    padding: 20px;
    margin: 90px 60px;
    height: 260px;
    width: 260px;
}



.popular-products-items .popular-products-item .popula-products-image img{
    height: 280px;
    width:280px ;
}


.our-sevices-box .our-sevices-item{
    text-align: center;
    margin: 30px 40px;
    width: 270px;
    line-height: 35px;
    padding: 15px;
}








<nav class="navbar">
        <ul>
            <li><a href="#" class="Active"> Trends </a></li>
            <li><a href="category.html" class="Active"> Category </a></li>
            <li><a href="#" class="Active"> Products </a></li>
            <li><a href="#" class="Active"> News </a></li>
        </ul>
        </nav>




        <div class="content">
        <div class="content-box">
            <h2> Get up to 45% <br>off new products</h2>
            <label> The biggest product of the year is at <span>Trends Clothes</span></label><br>
            <a href="#"> Shop now <i class="fa-solid fa-arrow-right"></i></a>

        </div>
    </div>
    <div class="category" id="category">
        <div class="category-tittle">
            <h2> Trends Clothes Category</h2>
        </div>
        <div class="category-box">
            <div class=" box woman-box">
                <div class="box-content b2">
                    <h3> Most popular styles </h3>
                    <label> Women </label>
                    <a href="women.html"> Go here </a>
                </div>
                <img src="Images/Trend 4.jpg" alt="">
            </div>




            @media(max-width: 440px){
                text-align: center;
                justify-content: center;
                padding: 0;
                margin: 0;
            
                .footer-box .footer-1.f4{
                    margin: 10px;
                }
                .footer-box .footer-1.f4 label{
                    width: 250px;
                }
                .footer-box .footer-1.f4 input{
                    width: 200px;
                    padding: 10px 25px;
                }
                .footer-box .footer-1.f4 .social-media{
                    margin-top: 20px;
                }
                .footer-box .footer-1.f4 .social-media a{
                    margin-right: 5px;
                    font-size: 17px;
                    padding: 11px;
                }
                .footer-box .footer-1.f4 button{
                    padding: 10px;
                    position: relative;
                    right: 10px;
                }
            }